/* Universal styles */

    
/* jumbotron styles */
.container-fluid {
    height: 160px;
}

.navbar-header {
    margin-left: auto;
    margin-right: auto;
    width: fill;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
}

.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
    margin-left: 15px;
}


/* bg styles */
.bg {
    margin: auto;
    min-height: calc(100vh - 58px); 
    background-image: url("../images/vintage-wallpaper.png");
}

/* Contact page form styles */
.submitForm {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.input-group {
    width: 800px;
}
.formButton {
    margin-left: 10px;
}
.basic-addon1 {
    width: 100px;
}
#formMessage {
    height: 100px;
}













/* container styles */
    .container

       
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* header styles */
            
            /* headWidth styles */

            /* myName styles */

            /* navbar styles */

            /* navlinks styles */
    
        /* main styles */

            /* fg styles */

                /* contentHead styles */

    /* footer styles */



/* Index-Page specific styles */

    /* myPic style */

    /* mainText style */



/* Contact-Page specific styles */

    /* form styles */

        /* formField styles */

            /* formMessage style */

    /* button style */



/* Portfolio-Page specific styles */

    /* imageRow styles */

        /* imageCard styles */

            /* galleryImages styles */

        /* cardText styles */

            /* galleryLinks styles */
    

